*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #26874E;
    transition: 1s;
}
body, ul, li, a{
    margin: 0%;
    padding: 0%;
    list-style: none;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #006633;
    padding: 10px 0px 15px 0px;
    box-shadow: 0px 0px 20px black;
}
.container nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#img_logo{
    width: 75px;
    margin-left: 10px;
    transition: 1s;
}
.menu{
    list-style: none;
    display: flex;
    background-color: #006633;
}
.menu li{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px 0px 0px;
}
.menu a{
    color: #cbe5cc;
    text-decoration: none;   
    text-align: center;
    font-size: 20px;
    transition: 1s;
    padding: 8px;
    border-radius: 15px;
}
.menu li a{
    display: block;
}
.menu a:hover{
    background-color: #26874E;
}
#sele{
    box-shadow: 0px 0px 10px #26874E;
}
#foto_p{
    width: 300px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}
.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px 0px 90px 0px;
}
.txt{
    background-color: #006633;
    height: 120px;
    width: 550px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
#nome{
    color: #b1ffb9;
    font-size: 30px;
    margin-bottom: 40px;
}
#frase{
    color: #c3ffdb;
    margin-bottom: 0%;
}
.sobre_mim{
    display: flex;
    background-color: #006633;
    height: 500px;
    align-items: center;
    justify-content: space-around;
}
.txt_2{
    background-color: #26874E;
    height: 210px;
    width: 750px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    color: #b1ffb9;
}
#sobr{
    background-color: #006633;
    padding-bottom: 5px;
    font-style: italic;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#foto_p2{
    width: 250px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}
#sob{
    margin-top: 10px;
}
.esp{
    background-color: #26874E;
    height: 600px;
}
.intro{
    background-color: #26874E;
    text-align: center;
    padding: 10px;
    color: #c3ffdb;
    margin: 20px 0px 0px 0px;
}
#for{
    margin-bottom: 30px;
}
#espe{
    font-size: 25px;
}
.fotos{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
#c{
    width: 150px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px black;
}
#java{
    width: 150px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px black;
}
#html{
    width: 150px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px black;
}
#css{
    width: 150px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px black;
}
.expli{
    padding: auto;
}
.titu{
    display: flex;
    padding: 20px 0px 20px 0px;
    color: #b1ffb9;
}
#c_txt{
    margin-left: 95px;
    border-bottom: 2px solid #006633;
}
#ja_txt{
    margin-left: 249px;
    border-bottom: 2px solid #006633;
}
#ht_txt{
    margin-left: 280px;
    border-bottom: 2px solid #006633;
}
#cs_txt{
    margin-left: 280px;
    border-bottom: 2px solid #006633;
}
.res{
    display: flex;
    color: #b1ffb9;
}
#c_txt2{
    width: 300px;
    margin-left: 10px;
    background-color: #006633;
}
#ja_txt2{
    width: 300px;
    margin-left: 30px;
    background-color: #006633;
}
#ht_txt2{
    width: 300px;
    background-color: #006633;
    margin-left: 30px;
}
#cs_txt2{
    width: 300px;
    background-color: #006633;
    margin-left: 30px;
}
.res p{
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0px 0px 10px black;
}
.fim{
    background-color: #006633;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
#logo_2{
    margin-top: 20px;
    width: 150px;
}
.cont{
    margin: 10px 0px 0px 0px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
#link{
    width: 45px;
}
.cont button{
    background-color: #2b533f00;
    border: none;
}
.cont a button img{
    cursor: pointer;
}
#copy{
    margin-top: 10px;
    color: #b1ffb9;
}
.copyright{
    background-color: #26874E;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.cabe{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
    padding: auto;
    color: #b1ffb9;
}
#titu{
    margin-top: 10px;
}
#habi_ft{
    width: 300px;
}
#c_ft{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
.linguagens_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px
}
.linguagens_div{
    background-color: #006633;
    width: 500px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    color: #b1ffb9;
}
.ht_bar{
    display: flex;
    margin-bottom: 20px;
}
.cs_bar{
    display: flex;
    margin-bottom: 20px;
}
.c_bar{
    display: flex;
    margin-bottom: 20px;
}
.ja_bar{
    display: flex;
    margin-bottom: 20px;
}
.proj_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px
}
#ft_proj{
    margin-top: 20px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #26874E;
}
.proj_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    background-color: #006633;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    color: #b1ffb9;
    height: 410px;
    text-align: center;
}
.proj_1 a{
    color: #b1ffb9;
}
#pdv{
    margin-bottom: 10px;
}
.container_cont{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}
.div_cont div{
    display: flex;
    padding: auto;
    margin-top: 20px
}
.div_cont img{
    margin-right: 20px
}
.conta img{
    margin-right: 20px;
    width: 20px;
    height: 30px;
}
.div_cont p{
    font-size: 15px;
}
.conta{
    background-color: #006633;
    margin-left: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
#bt_enviar{
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    box-shadow: 0px 0px 10px black;
    margin-top: 20px;
}
.div_envie input{
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 350px;
    margin-top: 10px;
}
#org{
    width: 405px;
}
#end{
    width: 405px;
}
#primeiro{
    width: 200px;
}
#ultimo{
    width: 200px;
}
#city{
    width: 200px;
}
select{
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
#cep{
    width: 200px;
}
.div_envie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-top: 50px;
    background-color: #006633;
    box-shadow: 0px 0px 10px black;
    padding: 1%;
    border-radius: 10px;
}
.div_cont{
    margin-top: 50px;
    background-color: #006633;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    height: 300px;
    padding: 1%;
    text-align: center;
}